.Quiz {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  &__progress {
    height: 6.5px;
    width: 100%;
    background-color: #d9d5d5;
    margin-bottom: 20px;
    border-radius: 2.5px;

    div {
      height: 100%;
      width: 50%;
      border-radius: 2.5px;
      background: rgb(119,236,97);
      background: linear-gradient(90deg, rgba(255,202,98,1) 0%,  rgba(119,236,97,1) 100%);
      transition: all .3s ease-in-out;
    }
  }
  &__title {
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 20px;
  }
  &__answers {
    font-size: 20px;
    line-height: 22px;
    li {
      padding: 10px;
      height: 100%;
      border: 1.5px solid #a8a4a4;
      border-radius: 10px;

      cursor: pointer;
      transition: all .3s ease-in-out;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &:hover {
        background-color: #d9d5d5;
      }

      &:active {
        background-color: #d9d5d5;
      }
    }
  }
}